
.about-title{
    width: 1240px;
    height: 223px;

    &__about-picture {
        width: 1240px;
        height: 223px;
        object-fit: cover;
        border-radius: 25px;
    }
}

.option-menu {
    width: 1023px;
    height: 52px;
    background-color: #ff6060;
    color: white;
    border-radius: 5px;
}