.animation {
    &__down{
        animation: textDown 300ms forwards ease-in-out ;
        transform-origin: top;
    }
    &__up{
        animation: textUp 1000ms forwards ease-in-out;
        transform-origin: top;
    }
}
@keyframes textDown{
    0%{
        transform: scaleY(0)
    }
    100%{
        transform: scaleY(100%);
    }
}
@keyframes textUp{
    0%{
        transform: scaleY(100%);
    }
    100%{
        transform: scaleY(0);
    }

}
