.animation {
    &__down{
        animation: textDown 300ms forwards ease-in-out ;
        transition: all 300ms;
        transform-origin: top;
    }
}
@keyframes textDown{
    0%{
        transform: scaleY(0)
    }
    100%{
        transform: scaleY(100%);
    }
}
