.slide{
    width: 1440px;
    height: 643px;
    display: flex;
    flex-direction: column;
    color: #ff6060;
    margin-bottom: 70px;
    &__slide-pictures{
        &__carousel{
            width: 100%;
            height: 415px;
            display: flex;
            align-items: center;
            margin-left: 20px;
            &__btn-scroll{
                position: relative;
                border: none;
                font-size: 80px;
                background: none;
                color: white;
                z-index: 5;
            }
            &__next{
                right: 150px;
            }
            &__previous{
                left: 80px;
            }
            &__carousel-pictures{
                position: relative;
                display: inline-block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 15px;
                margin-right: 50px;
                z-index: 3;
            }
            &__counter{
                position: relative;
                color: white;
                font-size: 18px;
                z-index: 10;
                top: 180px;
                right: 720px;
            }
            
        }
    }
    &__title-host{
        width: 1330px;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        &__slide-title{
            width: 635px;
            height: 77px;
            display: flex;
            flex-direction: column;
            margin-left: 75px ;
            &__title-location{
                font-size: 36px;
                margin: 0;
            }
            &__city-location{
                font-size: 18px;
            }
        }
        &__host{
            width: 167px;
            height: 64px;
            display: flex;
            align-items: center;
            margin-left: 240px;
            &__host-name{
                margin-right: 10px;
            }
            &__host-picture{
                width: 64px;
                height: 64px;
                object-fit: cover;
                border-radius: 35px;
            }
        }
    }
    &__tags-rating{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0 0 75px;
        &__rating{
            &__ratingElement{
                display: flex;
                justify-content: flex-end;
                width: 500px;
                height: 40px;
                margin-right: 120px;
                &__rating-star{
                    display: flex;
                    width: 30px;
                    height: 30px;
                }
            }
        }
        &__tags{
            display: flex;
            align-items: center;
            &__tagElement {
                background-color: #ff6060;
                color: white;
                margin: 20px 20px 20px 0;
                padding: 10px;
                border: 1px solid #ff6060;
                border-radius: 20px;
            } 
        }
    }
    &__info{
        display: flex;
        justify-content: space-around;
        margin:0 20px 0 20px;
        &__details{
            display: flex;
            width: 582px;
            height: 52px;
            background-color: #ff6060;
            align-items: center;
            color: white;
            border-radius: 10px;
            margin: 0 70px 0 60px;
            &__dropdown{
                display: flex;
                justify-content: space-between;
                padding-left: 30px;
                &__text{
                    background-color: #f6f6f6;
                    color: #ff6060;
                    border-radius: 0 0 10px 10px;
                }
            }
        }
    }    
}

