.listButton {
    display: flex;
    justify-content: space-between;
    width: 1023px;
    background-color: #ff6060;
    color: white;
    border-radius: 5px;

    &__listTitle {
        padding-left: 10px;
    }

    &__actionButton{
        &__inactive{
            width: 32px;
            height: 24px;
            border: none;
            background-color: #ff6060;
            color: white;
            font-size: 25px;
            border-radius: 5px;
            margin-right: 35px;
            cursor: pointer;
            transition: all 200ms ease-in-out;
        }
        &__active{
            width: 32px;
            height: 24px;
            border: none;
            background-color: #ff6060;
            color: white;
            font-size: 25px;
            border-radius: 5px;
            margin: 18px 35px 0 0;
            cursor: pointer;
            transform: rotate(-180deg);
            transform-origin: center 7px;
            transition: transform 200ms ease-in-out;
        }
    }
}
.chevronUp svg{
    height: 24px;
}
.chevronUp{
    height: 24px;
}

