.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-link {
        padding-left: 15px;
    }
}
.title-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

