body {
    display: flex;
}
.gallery {
    max-width: 1240px;
    max-height: 829px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color:#f6f6f6;
    border: 5px solid red;
    border-radius: 25px;
    margin: 70px 0 40px 0;

    &__gallery-cards {
        max-width: 340px;
        max-height: 340px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: #ff6060;
        border: 1px solid #ff6060;
        border-radius: 10px;
        color: white;
        padding: 15px;
        margin-top: 10px;
    }
}