.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-link {
        padding-left: 15px;
    }
}
.title-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    .title-sea {
        position: relative;
        z-index: +15;
    }
    .sea {
        position: absolute;
        z-index: -15;
    }
}

