.error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ff6060;
    margin: 100px 0 100px 0;

    &__errorTitle {
        color: #ff6060;
        font-size: 288px;
        margin: 0;
    }

    &__errorMessage {
        font-size: 36px;
    }

    &__errorReturn {
        color: #ff6060;
        font-size: 18px;
    }
}
@media screen and (max-width: 375px) {
    .error{
        margin: 0;
        &__errorTitle{
            width: 55%;
            font-size: 120px;
            margin-top: 50px;
        }
        &__errorMessage{
            width: 70%;
            font-size: 18px;
            text-align: center;
        }
    }
}