.error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ff6060;
    margin: 100px 0 100px 0;

    &__title {
        font-size: 288px;
        margin: 0;
    }

    &__message {
        font-size: 36px;
    }

    &__return {
        color: #ff6060;
        font-size: 18px;
        padding-top: 40px;
    }
}
@media screen and (max-width: 994px) and (min-width: 769px) {
   .error {
    &__message{
        font-size: 30px;
    }
   }
}

@media screen and (max-width: 768px) {
    .error{
        margin: 0;
        margin-bottom: 27px;
        &__title{
            width: 55%;
            font-size: 96px;
            margin-top: 70px;
            text-align: center;
        }
        &__message{
            width: 60%;
            font-size: 20px;
            font-weight: normal;
            text-align: center;
            margin-top: 70px;
        }
        &__return{
            margin: 90px 0 50px 0;
        }
    }
}