.titleGallery {
    width: 1240px;
    height: 223px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    margin-left: 75px;
    &__titleSea {
        width: 100%;
        height: 100%;
        color: white;
        font-size: 48px;
        position: relative;
        top: 40px;
        left: 20px;
        text-align: center;
        z-index: +15; 
    }
    &__sea{
        width: 1240px;
        height: 223px;
        border-radius: 25px;
        position: absolute;
        object-fit: cover;
        z-index: -20;
        filter: brightness(0.7);
        margin-top: 50px;
        margin-bottom: 40px;
    }
}
.gallery {
    width: 1240px;
    height: 829px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color:#f6f6f6;
    border-radius: 25px;
    padding-top: 40px;
    margin: 70px 0 40px 75px;
    &__navCard{
        display: inline-block;
        text-decoration: none;
    }
    &__galleryCards {
        width: 340px;
        height: 410px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-radius: 10px;
        color: white;
        bottom: 50px;

        &__picture {
            width: 100%;
            height: 340px;
            border-radius: 10px;
            object-fit: cover;
        }
        &__overlay {
            position: relative;
            bottom: 40px;
            width: 100%;
            height: 40px;
            border-radius: 0 0 10px 10px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        }
        &__titleCard {
            display: flex;
            position: relative;
            align-items: flex-end;
            width: 85%;
            height: 30px;
            font-size: 18px;
            bottom: 90px;
            margin-left: 20px;
        }
    }
}

@media screen and (max-width: 375px){
    .titleGallery{
        width: 80%;
        border-radius: 5px;
        margin-left: 40px;
        &__titleSea{
            display: flex;
            text-align: start;
            white-space: pre-wrap;
            width: 190px;
            font-size: 24px;
            margin: 0;
            top: 85px;
            left: -55px;
        }
        &__sea{
            width: 90%;
            height: 111px;
            border-radius: 10px;
        }
    }
    .gallery{
        width: 335px;
        flex-direction: column;
        flex-wrap: nowrap;
        background: none;
        margin: 450px 0 350px 20px;
        padding: 0;
        &__galleryCards{
            position: relative;
            width: 100%;
            height: 275px;
            &__overlay{
                bottom: 27px;
            }
            &__titleCard{
                bottom: 70px;
            }
        }
        
    }
}
