.header {
    width: 1240px;
    height: 68px;
}
.title-gallery {
width: 1240px;
height: 223px;
    .title-sea {
        width: 100%;
        height: 90%;
    }
}
.footer{
    width: 100%;
    height: 50%;
}

