.carousel-root{
    width: 1240px;
    height: 415px;
}
.control-dots{
    display: none;
}
.carousel-status{
    display: none;
}
.thumbs-wrapper{
    display: none;
}
.slide-pictures {
    width: 1240px;
    height: 415px;
    margin-bottom: 20px;
}
.slide{
    color: #ff6060;
    &__tags{
        display: flex;
        &__tagElement {
            background-color: #ff6060;
            color: white;
            margin: 20px 20px 0 0;
            padding: 10px;
            border: 1px solid #ff6060;
            border-radius: 20px;
        } 
    }
    &__slide-title{
        display: flex;
        flex-direction: column;
        margin: 20px 0 0 20px;
        &__title-location{
            font-size: 36px;
        }
        &__city-location{
            font-size: 18px;
        }
    }
}
