.carousel-root{
    width: 1240px;
    height: 415px;
}
.control-dots{
    display: none;
}
.carousel-status{
    display: none;
}
.thumbs-wrapper{
    display: none;
}
.slide-pictures {
    width: 1240px;
    height: 415px;
    margin-bottom: 20px;
}
.slide{
    color: #ff6060;
}