.header {
  width: 1240px;
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.header__nav-link {
  font-size: 18px;
  padding-left: 70px;
  color: #ff6060;
  text-decoration: none;
}

* {
  font-family: "Montserrat", sans-serif;
}

.title-gallery {
  max-width: 1240px;
  max-height: 223px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
}
.title-gallery .title-sea {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 48px;
  position: relative;
  top: 5px;
  left: 20px;
  text-align: center;
  z-index: 15;
}
.title-gallery .sea {
  width: 1240px;
  height: 223px;
  border-radius: 25px;
  position: absolute;
  object-fit: cover;
  z-index: -20;
  filter: brightness(0.7);
  margin-top: 50px;
  margin-bottom: 40px;
}

body {
  max-width: 1400px;
}

.gallery {
  width: 1240px;
  height: 829px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: #f6f6f6;
  border: 5px solid red;
  border-radius: 25px;
  margin: 70px 0 40px 0;
}
.gallery__gallery-cards {
  width: 340px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
  color: white;
  margin-top: 50px;
}
.gallery__gallery-cards__picture {
  display: inline-block;
  position: relative;
  top: 15px;
  height: 340px;
  border-radius: 10px;
  object-fit: cover;
  z-index: 3;
}
.gallery__gallery-cards__title-card {
  position: relative;
  font-size: 15px;
  bottom: 22px;
  width: 330px;
  height: 100px;
  z-index: 5;
  padding: 0 0 20px 10px;
}
.gallery__gallery-cards__overlay {
  border-radius: 0 0 10px 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.about-title {
  width: 1240px;
  height: 223px;
}
.about-title__about-picture {
  width: 1240px;
  height: 223px;
  object-fit: cover;
  border-radius: 25px;
}

.option-menu {
  width: 1023px;
  height: 52px;
  background-color: #ff6060;
  color: white;
  border-radius: 5px;
}

.footer {
  width: 1440px;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  padding-top: 20px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ff6060;
  margin: 100px 0 100px 0;
}
.error__error-title {
  color: #ff6060;
  font-size: 288px;
  margin: 0;
}
.error__error-message {
  font-size: 36px;
}
.error__error-return {
  color: #ff6060;
  font-size: 18px;
}

.list {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.list__list-description {
  width: 1023px;
  background-color: #F6F6F6;
  color: #ff6060;
  visibility: collapse;
}

.list-button {
  display: flex;
  justify-content: space-between;
  width: 1023px;
  background-color: #ff6060;
  color: white;
  border-radius: 5px;
}
.list-button__list-title {
  padding-left: 10px;
}
.list-button__action-button {
  border: none;
  background-color: #ff6060;
  color: white;
  font-size: 25px;
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
