.header {
  width: 86.5%;
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 40px 6%;
}
.header__navList {
  width: 30%;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}
.header__navList__active {
  color: #ff6060;
}
.header__navList__inactive {
  color: #ff6060;
  text-decoration: none;
}

@media screen and (max-width: 994px) and (min-width: 769px) {
  .header {
    margin-left: 7%;
  }
  .header__navList {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  .header {
    width: 85%;
    margin: 20px 0 0 8%;
  }
  .header__navList {
    width: 150px;
    font-size: 12px;
    text-transform: uppercase;
  }
  .logo svg {
    width: 145px;
  }
}
* {
  font-family: "Montserrat", sans-serif;
}

.titleGallery {
  width: 100%;
  height: 223px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  margin-left: 6%;
}
.titleGallery__titleSea {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 48px;
  position: relative;
  top: 40px;
  left: 22%;
  z-index: 15;
}
.titleGallery__sea {
  max-width: 1270px;
  width: 87%;
  height: 223px;
  border-radius: 25px;
  position: absolute;
  object-fit: cover;
  z-index: -20;
  filter: brightness(0.7);
  margin-top: 50px;
  margin-bottom: 40px;
}

.gallery {
  width: 88%;
  height: 829px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 25px;
  padding-top: 40px;
  margin: 70px 0 40px 90px;
}
.gallery__navCard {
  width: 28.1%;
  display: inline-block;
  text-decoration: none;
}
.gallery__galleryCards {
  width: 100%;
  height: 410px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
  color: white;
  bottom: 50px;
}
.gallery__galleryCards__picture {
  width: 100%;
  height: 340px;
  border-radius: 10px;
  object-fit: cover;
}
.gallery__galleryCards__titleCard {
  display: flex;
  position: relative;
  align-items: center;
  width: 95.5%;
  height: 50px;
  font-size: 18px;
  bottom: 60px;
  border-radius: 0 0 10px 10px;
  padding: 0 0 10px 15px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 1, 0.5) 100%);
}

@media screen and (max-width: 994px) and (min-width: 769px) {
  .titleGallery {
    margin-left: 7%;
  }
  .titleGallery__titleSea {
    font-size: 40px;
    left: 15%;
    top: 50px;
  }
  .gallery {
    height: auto;
    margin-left: 50px;
  }
  .gallery__galleryCards {
    height: 300px;
  }
  .gallery__galleryCards__picture {
    height: 240px;
  }
  .gallery__galleryCards__titleCard {
    font-size: 14px;
    width: 93%;
  }
}
@media screen and (max-width: 768px) {
  .titleGallery {
    width: 85%;
    height: 111px;
    border-radius: 5px;
    margin-top: 10px;
  }
  .titleGallery__titleSea {
    display: flex;
    text-align: start;
    white-space: pre-wrap;
    width: 58%;
    font-size: 24px;
    margin: 0;
    top: 25px;
    left: 5%;
  }
}
@media screen and (max-width: 768px) and (max-width: 383px) {
  .titleGallery__titleSea {
    width: 65%;
  }
}
@media screen and (max-width: 768px) {
  .titleGallery__sea {
    width: 90%;
    height: 111px;
    border-radius: 10px;
  }
  .gallery {
    width: 90%;
    flex-direction: column;
    flex-wrap: nowrap;
    background: none;
    margin-top: 40px;
    margin-left: 5.5%;
    padding: 0;
    height: auto;
  }
  .gallery__navCard {
    width: 100%;
  }
  .gallery__galleryCards {
    width: 100%;
    height: 340px;
    margin-bottom: -20px;
  }
  .gallery__galleryCards__picture {
    height: 280px;
  }
  .gallery__galleryCards__titleCard {
    width: 96.5%;
    bottom: 60px;
    font-size: 18px;
  }
}
body {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.aboutTitle {
  width: 88%;
  height: 223px;
  margin-bottom: 40px;
}
.aboutTitle__aboutPicture {
  width: 100%;
  height: 223px;
  object-fit: cover;
  border-radius: 25px;
}

.aboutMenu {
  display: flex;
  flex-direction: column;
  width: 73%;
  height: 100%;
  margin-bottom: 30px;
}
.aboutMenu__dropdown {
  display: flex;
  align-items: center;
}
.aboutMenu__dropdown__title {
  width: 100%;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  color: white;
  border-radius: 10px;
  padding-left: 20px;
}
.aboutMenu__dropdown__text {
  width: 100%;
  background-color: #f6f6f6;
  color: #ff6060;
  border-radius: 0 0 10px 10px;
}

.hiddenText {
  display: none;
}

@media screen and (max-width: 768px) {
  .about {
    margin-bottom: 0;
    height: auto;
  }
  .aboutTitle {
    width: 90%;
    height: 111px;
    margin-top: 20px;
  }
  .aboutTitle__aboutPicture {
    border-radius: 10px;
    height: 111px;
  }
  .aboutMenu {
    width: 85%;
    margin: 0;
    margin-bottom: 30px;
    align-items: center;
  }
  .aboutMenu__dropdown__title {
    width: 100%;
    font-size: 13px;
  }
  .aboutMenu__dropdown__text {
    width: 100%;
  }
}
.footer {
  width: 100%;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  padding-top: 20px;
}

@media screen and (max-width: 768px) {
  .footer {
    width: 100%;
  }
  .footer__footerTitle {
    text-align: center;
    width: 25%;
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) and (max-width: 377px) {
  .footer__footerTitle {
    width: 30%;
  }
}
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ff6060;
  margin: 100px 0 100px 0;
}
.error__title {
  font-size: 288px;
  margin: 0;
}
.error__message {
  font-size: 36px;
}
.error__return {
  color: #ff6060;
  font-size: 18px;
  padding-top: 40px;
}

@media screen and (max-width: 994px) and (min-width: 769px) {
  .error__message {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .error {
    margin: 0;
    margin-bottom: 27px;
  }
  .error__title {
    width: 55%;
    font-size: 96px;
    margin-top: 70px;
    text-align: center;
  }
  .error__message {
    width: 60%;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin-top: 70px;
  }
  .error__return {
    margin: 90px 0 50px 0;
  }
}
.listButton {
  display: flex;
  justify-content: space-between;
  width: 1023px;
  color: white;
  border-radius: 5px;
}
.listButton__actionButton__inactive {
  width: 32px;
  height: 24px;
  border: none;
  background-color: #ff6060;
  color: white;
  font-size: 25px;
  border-radius: 5px;
  margin-right: 15px;
  cursor: pointer;
}
.listButton__actionButton__inactive svg {
  transition: all 200ms ease-in-out;
  transform-origin: center;
}
.listButton__actionButton__active {
  width: 32px;
  height: 24px;
  border: none;
  background-color: #ff6060;
  color: white;
  font-size: 25px;
  border-radius: 5px;
  margin: 18px 15px 0 0;
  cursor: pointer;
}
.listButton__actionButton__active svg {
  position: relative;
  bottom: 7px;
  right: 1px;
  transform: rotate(-180deg);
  transform-origin: center;
  transition: transform 200ms ease-in-out;
}

.chevronUp {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 375px) {
  .chevronUp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
  }
  .chevronUp svg {
    width: 18px;
    height: 14px;
  }
}
.slide {
  display: flex;
  flex-direction: column;
  color: #ff6060;
}
.slide__carousel {
  width: 97%;
  height: 415px;
  display: flex;
  align-items: center;
  margin-left: 2%;
}
.slide__carousel__btnScroll {
  position: relative;
  border: none;
  font-size: 80px;
  background: none;
  color: white;
  z-index: 5;
  cursor: pointer;
}
.slide__carousel__next {
  right: 100px;
}
.slide__carousel__previous {
  left: 80px;
}
.slide__carousel__carouselPictures {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  z-index: 3;
}
.slide__carousel__counter {
  position: relative;
  color: white;
  font-size: 18px;
  z-index: 10;
  top: 180px;
  right: 45.5%;
}

.summary {
  width: 91%;
  margin-left: 2%;
  display: flex;
  justify-content: space-between;
}

.titleTags {
  width: 830px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 30px 0 20px 55px;
}
.titleTags__location {
  font-size: 36px;
  margin: 0;
}
.titleTags__city {
  margin-top: 10px;
  font-size: 18px;
}
.titleTags__tags {
  display: flex;
  align-items: center;
}
.titleTags__tags__tagElement {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 25px;
  background-color: #ff6060;
  color: white;
  margin: 20px 20px 20px 0;
  padding: 5px;
  border: 1px solid #ff6060;
  border-radius: 20px;
}

.hostRating {
  display: flex;
  flex-direction: column;
  width: 10%;
  margin-top: 30px;
  margin-right: 4.5%;
}
.hostRating__host {
  width: 167px;
  height: 64px;
  display: flex;
  align-items: center;
}
.hostRating__host__hostName {
  margin-right: 10px;
}
.hostRating__host__hostPicture {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 35px;
}
.hostRating__rating {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.details {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 91%;
  margin-left: 2%;
}

.info {
  display: flex;
  flex-direction: column;
  width: 582px;
  margin: 0 20px 30px 57px;
}
.info__dropdown {
  display: flex;
}
.info__dropdown__title {
  width: 100%;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  color: white;
  border-radius: 10px;
  padding-left: 20px;
}
.info__dropdown__text {
  width: 100%;
  background-color: #f6f6f6;
  color: #ff6060;
  border-radius: 0 0 10px 10px;
}
.info__dropdown__text ul {
  padding: 0;
}

.equipments {
  list-style-type: none;
}

.titleOpened {
  border-radius: 10px 10px 0 0;
}

.hiddenText {
  display: none;
}

@media screen and (max-width: 994px) and (min-width: 769px) {
  .slide__carousel {
    margin: 0;
    width: 100%;
  }
  .slide__carousel__btnScroll svg {
    width: 25px;
  }
  .slide__carousel__next {
    top: 15px;
    right: 10%;
  }
  .slide__carousel__previous {
    top: 15px;
    left: 10%;
  }
  .slide__carousel__counter {
    right: 43.5%;
  }
  .slide__carousel__carouselPictures {
    width: 100%;
    margin-left: 3%;
  }
  .summary {
    width: 85%;
    margin-left: 7%;
    margin-top: 20px;
  }
  .titleTags {
    width: 60%;
    margin: 0;
  }
  .titleTags__tags__tagElement {
    width: auto;
    padding: 5px 3% 5px 3%;
  }
  .hostRating {
    margin: 0;
    width: auto;
  }
  .details {
    margin: 0;
    margin-top: 20px;
    width: 93%;
  }
}
@media screen and (max-width: 768px) {
  .slide {
    width: 100%;
  }
  .slide__carousel {
    margin-left: 0.8%;
    width: 100%;
    height: 300px;
  }
  .slide__carousel__btnScroll svg {
    width: 24px;
    height: 24px;
    bottom: 50px;
  }
  .slide__carousel__previous {
    left: 30px;
    bottom: 12px;
  }
  .slide__carousel__next {
    right: 30px;
    bottom: 10px;
  }
  .slide__carousel__counter {
    display: none;
  }
  .slide__carousel__carouselPictures {
    height: 255px;
    margin: 0;
    border-radius: 10px;
  }
  .summary {
    width: 88%;
    flex-direction: column;
  }
  .titleTags {
    width: 100%;
    margin: 0;
    margin-left: 25px;
  }
  .titleTags__location {
    font-size: 22px;
    font-weight: normal;
  }
  .titleTags__city {
    font-size: 14px;
  }
  .titleTags__tags {
    width: 100%;
    height: 100%;
    align-items: flex-start;
  }
  .titleTags__tags__tagElement {
    width: 70%;
    height: 20px;
    padding: 0;
    font-size: 10px;
    border-radius: 10px;
  }
  .hostRating {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0;
    margin-left: 20px;
  }
  .hostRating__host {
    width: 38%;
    margin-right: 10px;
  }
  .hostRating__host__hostName {
    font-size: 14px;
  }
  .hostRating__host__hostPicture {
    width: 24%;
    height: 32px;
  }
  .hostRating__rating {
    width: 40%;
    align-items: center;
    margin: 0;
  }
  .hostRating__rating svg {
    width: 18px;
    height: 18px;
  }
  .details {
    width: 88%;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .info {
    width: 100%;
    margin: 0;
    margin: 10px 0 10px 6%;
  }
  .info__dropdown__title {
    width: 90%;
    height: 35px;
    font-size: 13px;
    margin: 0;
  }
  .info__dropdown__title h2 {
    font-weight: normal;
  }
  .info__dropdown__text {
    width: 90%;
  }
}
.animation__down {
  animation: boxDown 300ms forwards ease-in-out;
  transform-origin: top;
  border-radius: 0 0 10px 10px;
  padding-left: 20px;
}
.animation__up {
  animation: boxUp 300ms forwards ease-in-out;
  transform-origin: top;
  padding-left: 20px;
}

@keyframes boxDown {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(100%);
    padding: 20px 0 20px 20px;
  }
}
@keyframes boxUp {
  0% {
    transform: scaleY(100%);
    padding: 20px 0 20px 20px;
  }
  100% {
    transform: scaleY(0%);
    height: 0;
  }
}

/*# sourceMappingURL=style.css.map */
